body{
	background-color: #DDDDDD;
	font-family: Helvetica;
	padding: 0;
	margin: 0;
}
.banner__img{
    width:100%;
    border-radius: 5px;
}
.caja{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 80%;
}
article, aside, header{
	border-radius: 5px;
	box-shadow: 2px 3px 1px gray;
	background-color: #DDD;
	padding: 10px;
	margin: 10px;
}

nav, footer{
    clear:both;
	background-color: #222;
	box-shadow: 2px 3px 1px gray;
	border-radius: 5px;
	margin: 10px;
	padding-left: 15px;
}
ul{
	padding: 0px;
}
ul li{
	padding: 15px;
	display: inline-block;
	margin-right: 20px;
}
ul li:hover{
	background-color: #000;
}
ul li a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
footer{
	color: white;
	text-align: center;
	padding: 10px;
}