* {
	margin:0;
	padding:0;
}
body{
	background-color: #DDDDDD;
	font-family: Helvetica;
	padding: 0;
	margin: 0;
}
.banner__img{
    width:100%;
    border-radius: 5px;
}
.caja{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width:90%;
}
article, aside{
	border-radius: 5px;
	box-shadow: 2px 3px 1px gray;
	background-color: #DDD;
	padding: 10px 4px 10px 4px;
	margin: 10px 4px 10px 4px;
}
header{
	border-radius: 5px;
	box-shadow: 2px 3px 1px gray;
	background-color: #DDD;
	padding: 10px;
	margin: 10px;
}

nav, footer{
    clear:both;
	background-color: #222;
	box-shadow: 2px 3px 1px gray;
	border-radius: 5px;
	margin: 10px;
	text-align:center;
	overflow:auto;
}
ul{
	padding: 5px;
}
ul li{
	margin: 7px;
	padding: 7px;
	background-color: white;
	display: inline-block;
	margin-right: 20px;
	border-radius: 15px 50px;

}
ul li:hover{
	background-color: rgb(116, 116, 116);
}
ul li a{
	color: rgb(0, 0, 0);
	font-weight: bold;
	text-decoration: none;
}
footer{
	color: white;
	text-align: center;
	padding: 10px;
}