.tabla{
	border-radius: 5px;
	box-shadow: 2px 3px 1px gray;
	background-color: #DDD;
	padding: auto;
	margin: auto;
	margin-top:5vh;
	margin-bottom:5vh;
	text-align:center;
}

td,th,tr{
	border:1px solid black;
	empty-cells: hide;
}

main div {
	overflow:auto;
}